.cont{
    margin-bottom: 100px;
}

.excursion-container{
    margin: 0 auto;
   /* background-color: pink;*/
    text-align: center;
}

.trip-title{
    background-size: 90vw;
}
@media screen and (min-width: 1100px) {
   

    .trip-title{
        background-size: 1100px;
    }

}